---
import Layout from './../layouts/Layout.astro';
---

<Layout title="Product">
	<div class="container mx-auto text-6xl leading-relaxed font-thin mt-64 text-center bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text">
        <span class="text-transparent">
            This store is built with <strong><a target="_blank" href="https://astro.build/">Astro</a></strong> and <strong><a target="_blank" href="https://www.shopware.com/en/">Shopware 6</a></strong> and ships <strong>zero</strong> client-side JS
        </span>
    </div>
</Layout>

<style>
strong {
    @apply font-bold;
}
</style>